#container {
    width: 200px;
    height: 200px;
    position: relative;
    background: rgb(192, 192, 151);

  }
  #animate {
    width: 10px;
    height: 200px;
    position: absolute;
    background-color: red;
    display: none;
  }